<div class="author row">
  <div class="avarta col-md-2">
    <img src="http://www.gravatar.com/avatar/0cbd12513c6b41eed11ad155f71d1de6" alt="avarta" class="img-circle">
  </div>
  <div class="author-info col-md-10">
    <p class="text-primary"><a href="http://au.linkedin.com/in/seabookchen" alt="Seabook Chen LinkedIn Profile">Seabook Chen</a></p>
    <small>Lead Developer @ Kungfu Software. I am focusing on keeping fit and learn to be an entrepreneur at the moment. I also like coffee and drinking more than anyone really should.</small>
  </div>
</div>