<footer class="page-foot">
	<a href="/blog/archive"><span>Archive</span></a>
	<a href="/blog/rss"><span>Feed</span></a>
  <a href="/blog/tags"><span>Tags</span></a>
	<span><i class="fa fa-heart"></i> <a href="/">Kungfu Software</a></span>
</footer>
