<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Welcome to Company Ranking</div>
          <div class="panel-body">
            <p>Thanks for Joining for the community</p>
            <p>Here are some quick links:</p>
            <ul class="list-group">
              <li class="list-group-item"><a href="#">Your Profile</a>
              </li>
              <li class="list-group-item"><a href="#">Best Companies</a>
              </li>
              <li class="list-group-item"><a href="#">Worst Companies</a>
              </li>
              <li class="list-group-item"><a href="#">Most Controversial Companies</a>
              </li>
              <li class="list-group-item"><a href="#"><i class="fa fa-plus-circle"></i> Companies</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">About</div>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item"><a href="#">What's Company Ranking?</a>
              </li>
              <li class="list-group-item"><a href="#">Who created this application?</a>
              </li>
              <li class="list-group-item"><a href="#">Common Questions</a>
              </li>
              <li class="list-group-item"><a href="#">Terms of Service</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default social-panel">
          <div class="panel-heading">Social</div>
          <div class="panel-body">
            <ul class="list-inline">
              <li class=""><a href="#"><i class="fa fa-2x fa-twitter"></i></a>
              </li>
              <li class=""><a href="#"><i class="fa fa-2x fa-facebook"></i></a>
              </li>
              <li class=""><a href="#"><i class="fa fa-2x fa-google-plus"></i></a>
              </li>
              <li class=""><a href="#"><i class="fa fa-2x fa-linkedin"></i></a>
              </li>
              <li class=""><a href="#"><i class="fa fa-2x fa-github"></i></a>
              </li>
              <li class=""><a href="#"><i class="fa fa-2x fa-weibo"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="panel panel-default social-panel">
          <div class="panel-heading">Help!</div>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item"><a href="#">We are hiring!</a>
              </li>
              <li class="list-group-item"><a href="#"><i class="fa fa-usd"></i> Donate ... </a>
              </li>
            </ul>
          </div>
        </div>
        <p class="text-right"><i class="fa fa-heart"></i> by Kungfu Software</p>
      </div>

    </div>
  </div>
</footer>
