<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Welcome to Kungfu Software</div>
          <div class="panel-body">
            <p>Services</p>
            <ul class="list-group">
              <li class="list-group-item"><a href="https://www.hybris.com/">SAP Hybris</a>
              </li>
              <li class="list-group-item"><a href="http://www.adobe.com/au/marketing-cloud/enterprise-content-management.html">Adobe Experience Manager (CQ5)</a>
              </li>
              <li class="list-group-item"><a href="http://developer.android.com/index.html">Android Apps</a>
              </li>
              <li class="list-group-item"><a href="https://wordpress.com/">Wordpress, Spacesquare, Shopify sites</a>
              </li>
              <li class="list-group-item"><a href="https://developer.apple.com/">IOS Development</a>
              </li>
              <li class="list-group-item"><a href="https://www.meteor.com/">Realtime websites</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Products and Experiences</div>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item"><a href="#">Kungfu Software Website</a>
              </li>
              <li class="list-group-item"><a href="http://honda.com.au">Honda CQ5 Site</a>
              </li><li class="list-group-item"><a href="http://target.com.au">Target Australia Hybris Site</a>
              </li>
              <li class="list-group-item"><a href="http://ozkarting.weebly.com/">OZ Karting Andoid Apps</a>
              </li>
              <li class="list-group-item"><a href="http://rightrip.co.uk/">UK Travel Site for Chinese</a>
              </li>
              <li class="list-group-item"><a href="http://www.ichipsolutions.com/">iCHIP Solutions</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default social-panel">
          <div class="panel-heading">Social</div>
          <div class="panel-body">
            <ul class="list-inline">
              <li class=""><a href="#"><i class="fa fa-2x fa-twitter"></i></a>
              </li>
              <li class=""><a href="#"><i class="fa fa-2x fa-facebook"></i></a>
              </li>
              <li class=""><a href="#"><i class="fa fa-2x fa-google-plus"></i></a>
              </li>
              <li class=""><a href="#"><i class="fa fa-2x fa-linkedin"></i></a>
              </li>
              <li class=""><a href="#"><i class="fa fa-2x fa-github"></i></a>
              </li>
              <li class=""><a href="#"><i class="fa fa-2x fa-weibo"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="panel panel-default social-panel">
          <div class="panel-heading">Help!</div>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item"><a href="mailto:admin@kungfusoftware.net">We are hiring! Drop us an email.</a>
              </li>
            </ul>
          </div>
        </div>
        <p class="text-right">
          &copy; {{ 'now' | date: "%Y" }} Kungfu Software ABN 45 548 807 681
        </p>
      </div>

    </div>
  </div>
</footer>
